<section class="window-body">
  <h1>Recycle Bin</h1>
  <div class="file-grid">
    <button class="file-tile" type="button" data-file-name="goodbye.gif" data-file-src="/assets/recycle/goodbye.gif">
      <div class="file-icon">
        <img src="/assets/recycle/goodbye-still.jpeg" alt="goodbye.gif" />
      </div>
      <span class="file-name">goodbye.gif</span>
    </button>
    <button class="file-tile" type="button" data-file-name="gandalf.jpg" data-file-src="/assets/recycle/gandalf.jpg">
      <div class="file-icon">
        <img src="/assets/recycle/gandalf.jpg" alt="gandalf.jpg" />
      </div>
      <span class="file-name">gandalf.jpg</span>
    </button>
  </div>
</section>
