<section class="window-body">
  <h1>Recycle Bin</h1>
  <p>This is where half-baked ideas, bad puns, and unused CSS go to rest. No files were harmed in the making of this portfolio.</p>

  <ul>
    <li>Draft slogans that didn’t make the cut</li>
    <li>404 jokes awaiting their moment</li>
    <li>Retired color palettes (RIP neon gradients)</li>
    <li>One (1) cat hair from Bunny</li>
  </ul>

  <p><em>Tip:</em> If you’re here by accident, it’s probably time for a coffee break.</p>
</section>
