<section class="window-body">
  <h1>Contact</h1>
  <p>Email: <a href="mailto:contact@clarissaflores.me">contact@clarissaflores.me</a></p>
  <p>LinkedIn: <a href="https://linkedin.com/in/clarissa-flores" target="_blank" rel="noreferrer">clarissa-flores</a></p>
  <p>GitHub: <a href="https://github.com/clarissa-flores" target="_blank" rel="noreferrer">github.com/clarissa-flores</a></p>
  <p>Resume: <a href="/assets/Clarissa-Flores_Wordpress-Developer.pdf" target="_blank" rel="noreferrer">Download CV</a></p>
</section>
