---
import Base from '../layouts/Base.astro';
import Taskbar from '../components/Taskbar.astro';
import DesktopIcon from '../components/DesktopIcon.astro';
import { DESKTOP_ICONS } from '../data/desktopIcons';
---
<Base title="Clarissa Flores | Web Developer">
  <main class="desktop">
    {DESKTOP_ICONS.map((icon) => <DesktopIcon {...icon} />)}
    <Taskbar />
  </main>

<script type="module" src="/scripts/desktopInit.js"></script>
</Base>
