---
import Base from '../layouts/Base.astro';
---
<Base title="Solitaire">
  <section class="window-body">
    <iframe
      src="/solitaire-static/index.html"
      title="Solitaire"
      style="width: 100%; height: calc(100vh - 32px); border: none;"
      loading="lazy"
    ></iframe>
  </section>
</Base>
