<div class="taskbar">
  <button class="start-button" type="button" data-start-toggle aria-expanded="false" aria-controls="start-menu">
    <img class="start-icon" src="/assets/icons/windows.png" alt="" width="20" height="20" />
    Start
  </button>

  <div class="task-buttons">
    <div data-task-buttons></div>
  </div>

  <div class="tray">
    <div class="tray-divider" aria-hidden="true"></div>
    <button class="tray-icon-button" type="button" data-tray-show title="Show desktop">
      <img src="/assets/icons/windows.png" alt="" width="16" height="16" />
    </button>
    <button class="tray-icon-button" type="button" data-tray-close title="Close all windows">
      <img src="/assets/icons/computer.png" alt="" width="16" height="16" />
    </button>
    <div class="tray-clock" data-clock title="Local time"></div>
  </div>

  <div class="start-menu" id="start-menu" data-start-menu hidden>
    <div class="start-menu-header">Clarissa Flores</div>
    <div class="start-menu-list" role="menu" aria-label="Start menu">
      <button class="start-menu-item" type="button" data-start-action="about" role="menuitem">
        <img src="/assets/icons/user.png" alt="" width="16" height="16" />
        <span>About</span>
      </button>
      <button class="start-menu-item" type="button" data-start-action="projects" role="menuitem">
        <img src="/assets/icons/folder-closed.png" alt="" width="16" height="16" />
        <span>Projects</span>
      </button>
      <button class="start-menu-item" type="button" data-start-action="contact" role="menuitem">
        <img src="/assets/icons/mail.png" alt="" width="16" height="16" />
        <span>Contact</span>
      </button>
      <div class="start-menu-divider" role="separator"></div>
      <button class="start-menu-item" type="button" data-start-action="close-all" role="menuitem">
        <img src="/assets/icons/computer.png" alt="" width="16" height="16" />
        <span>Close All Windows</span>
      </button>
    </div>
  </div>
</div>

<script type="module" src="/scripts/startMenu.js"></script>
